In [53]:
import pandas as pd
import numpy as np

In [32]:
filename = "C://Users/the_m/Desktop/premier2122.csv"

df = pd.read_csv(filename)
df = df[['Date', 'HomeTeam', 'AwayTeam', 'FTR','BWH', 'BWD','BWA','B365H','B365D','B365A','B365CH','B365CD','B365CA']]
df

,Date,HomeTeam,AwayTeam,FTR,BWH,BWD,BWA,B365H,B365D,B365A,B365CH,B365CD,B365CA
0,13/08/2021,Brentford,Arsenal,H,4.00,3.50,1.95,4.00,3.40,1.95,3.80,3.25,2.05
1,14/08/2021,Man United,Leeds,H,1.53,4.50,5.75,1.53,4.50,5.75,1.61,4.20,5.25
2,14/08/2021,Burnley,Brighton,A,3.20,3.10,2.40,3.10,3.10,2.45,3.10,3.10,2.45
3,14/08/2021,Chelsea,Crystal Palace,H,1.28,5.75,10.50,1.25,5.75,13.00,1.30,5.25,11.00
4,14/08/2021,Everton,Southampton,H,1.95,3.50,3.90,1.90,3.50,4.00,2.00,3.40,3.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,22/05/2022,Crystal Palace,Man United,H,3.00,3.50,2.25,3.00,3.60,2.25,2.70,3.50,2.50
376,22/05/2022,Leicester,Southampton,H,1.85,3.90,3.80,1.85,4.00,3.80,1.65,4.33,4.50
377,22/05/2022,Liverpool,Wolves,H,1.16,7.75,15.00,1.14,8.50,15.00,1.12,9.00,17.00
378,22/05/2022,Man City,Aston Villa,H,1.17,8.00,15.00,1.16,8.00,17.00,1.18,7.50,13.00
379,22/05/2022,Norwich,Tottenham,A,11.00,6.50,1.24,9.50,6.50,1.25,8.50,5.25,1.33

In [57]:
def oddsCalculate(oddsList):
    probList = np.array([1./i for i in oddsList])
    probList = probList/sum(probList)
    return probList

def outcomeCalculate(rowArray):
    if rowArray[3] == 'H':
        outcomeIndex = 0
    elif rowArray[3] == 'D':
        outcomeIndex = 1
    elif rowArray[3] == 'A':
        outcomeIndex = 2
    else:
        print("Error")
        return
    
    probs = oddsCalculate(rowArray[7:10])
    return outcomeIndex, probs

In [65]:
a,b = outcomeCalculate(df.values[13,:])
a,b

(1, array([0.40208136, 0.28027436, 0.31764428]))

In [ ]:
allOutcome = [ for i in df.values]