In [1]:
import pandas as pd
pd.set_option('display.max_columns',None)

In [2]:
datafileName = '/Users/marke/Desktop/planetAlpha/data/ameriflux/AMF_US-Wrc_BASE-BADM_8-1/AMF_US-Wrc_BASE_HH_8-1.csv'
df = pd.read_csv(datafileName, header=2)
print df.shape

(315552, 38)

In [3]:
df.tail()

,TIMESTAMP_START,TIMESTAMP_END,USTAR,TA,WD,WS,NEE_PI,FC,SC,H,SH,LE,SLE,G,TS_1,TS_2,P,RH,PA,CO2_1,CO2_2,VPD_PI,SWC_1,SWC_2,NETRAD,PPFD_IN,SW_IN,SW_DIF,PPFD_OUT,SW_OUT,LW_IN,LW_OUT,H2O,RECO_PI,APAR,PPFD_DIF,FAPAR,ZL
315547,201512312130,201512312200,0.889,-4.469,146.558,4.099,-9999,-0.906,-9999,-14.345,-9999,0.206,-9999,1.226,1.578,2.575,0.0,78.973,98.536,-9999.0,-9999.0,0.093,26.809,30.619,-9999,0.0,0.0,-9999,-9999,0.0,275.4,297.9,-9999.0,-9999,-9999,-9999,-9999,-9999
315548,201512312200,201512312230,1.045,-4.569,142.244,4.341,-9999,0.308,-9999,-28.236,-9999,-3.405,-9999,1.246,1.571,2.564,0.0,79.039,98.530,-9999.0,-9999.0,0.092,26.799,30.615,-9999,0.0,0.0,-9999,-9999,0.0,261.4,297.2,-9999.0,-9999,-9999,-9999,-9999,-9999
315549,201512312230,201512312300,0.997,-4.557,145.673,4.792,-9999,-0.153,-9999,-45.769,-9999,-3.069,-9999,2.411,1.563,2.583,0.0,76.680,98.523,-9999.0,-9999.0,0.102,26.790,30.611,-9999,0.0,0.0,-9999,-9999,0.0,245.3,296.9,-9999.0,-9999,-9999,-9999,-9999,-9999
315550,201512312300,201512312330,0.805,-4.644,145.060,4.566,-9999,-0.469,-9999,-31.385,-9999,-1.209,-9999,3.585,1.568,2.569,0.0,75.927,98.518,-9999.0,-9999.0,0.105,26.786,30.606,-9999,0.0,0.0,-9999,-9999,0.0,231.0,296.4,-9999.0,-9999,-9999,-9999,-9999,-9999
315551,201512312330,201601010000,-9999.000,-9999.000,-9999.000,-9999.000,-9999,-9999.000,-9999,-9999.000,-9999,-9999.000,-9999,-9999.000,-9999.000,-9999.000,-9999.0,-9999.000,-9999.000,-9999.0,-9999.0,-9999.000,-9999.000,-9999.000,-9999,-9999.0,-9999.0,-9999,-9999,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999,-9999,-9999,-9999